body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
}
.menu-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.menu-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-item img {
  width: 50px; /* 이미지 크기 조절 */
  height: auto; /* 이미지 비율 유지 */
  margin-right: 10px; /* 이미지와 텍스트 사이 여백 */
}
.menu-item:last-child {
  border-bottom: none;
}
.menu-item-name {
  font-weight: bold;
}
.menu-item-price {
  color: #666;
}
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  padding: 10px 20px;
  color: #fff;
  text-align: center;
}
.button {
  background-color: #555;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background-color: #777;
}
