.menu_list {
  margin-bottom: 20px;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
}

.warning {
  position: relative; /* 상대 위치 지정 */
}
.warning p {
  position: absolute; /* 절대 위치 지정 */
  top: 50%; /* 상위 요소의 중앙에 정렬 */
  left: 50%; /* 상위 요소의 중앙에 정렬 */
  transform: translate(-50%, -50%); /* 수직, 수평 가운데 정렬 */
}
